*{
	margin: 0;
	padding:0; 

}

.total{
	height: 100%;
	width: 100%;
	background-image: radial-gradient(#fff,#ffd6d6);
    background-color: green
    background-position: center;	
    background-size: cover;
    position:absolute;

}
.form{
	width: 380px;
	height: 480px;
	background-color: white;
	position: relative;
	padding: 5px;
	margin:6% auto;
	overflow: hidden;
	
}
.btn-box{
	width: 220px;
	position: relative;
	margin:5px auto;
	border-radius:30px;
	box-shadow: 0 0 20px 9px #ff61241f;  
}
.btn-1{
	position: relative;
	padding:10px 30px;
	outline:none;
	cursor: pointer;
	border:0;
	background:transparent; 
}	
#btn{
	background: linear-gradient(to right,#ff105f,#ffad06);
	position: absolute;
	height: 36px;
	width: 110px;
	border-radius: 30px;
	transition: 0.3s;
}
.social-icons{
	width: 90px;
	margin: 20px auto;
	text-align: center;
}
.social-icons img{
	flex: 30%;
	cursor: pointer;
	border-radius: 15px;
	padding: 5px;

} 
.input-group{
	top:180px;
    padding: 15px;
    width: 270px;
    position: absolute;
}
.input{
	width: 100%;
	padding: 10px 0;
	outline: none;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	border-bottom: 1px solid #999;
	background:transparent;
}
.check-box{
	width: 20px;
	cursor: pointer;
	margin: 30px 10px 15px 0;

}
/*span{
	font-size-adjust:30px; 
}*/
.forget{
   font-size: 15px;
   padding:15px 0 15px 0; 
   cursor: pointer;
   text-decoration: none;   
}
.forget:hover{
	text-decoration: underline;
} 
.submit-btn{
	position: relative;
	width: 95%;
	height: 50px;
	cursor: pointer;
	border-radius: 30px;
	border:none;
	display: block;
	background:linear-gradient(to right,#ff105f,#ffad06); 
}
.submit-btn:hover{
    background-color:#00cc66;

}
#login{
	/*left:50px;*/
}
#register{
   left:450px;	
}



